# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables
.env*

# Common ignores
node_modules
.next/
.DS_Store

# Google Cloud Credentials
mapsproject-478319-*.json

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Google Client Secrets
client_secret_*.json

# Temporary shell scripts
*.sh